<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/nav'); -%>
    <main>

    <div class="message-container">
        <div class="message-box">
            Successfully Updated!
        </div>
    </div>
    </main>
    </body>
    </html>